/* Global styles */

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}   

.container {
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
    background-color: #027bfe;
    padding: 8px 12px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.button:hover {
    background-color: #0266d2;
}

/* Header styles */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-tittle {
    font-weight: 400;
}

/* Hero section styles */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 51px;
    padding: 100px 0;
    background: pink;
}

.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    z-index: 1;
}

.hero .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.hero .content {
    position: relative;
    z-index: 1;
}

.hero .content h1 {
    color: #fff;
    font-size: 42px;
    text-align: center;
    max-width: 700px;
    width: 100%
}

/* Icons-grid section styles */

.icons-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-top: 51px; */
    padding: 100px 0;
    background: rgb(228, 225, 225);
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 30px;
    /* background-color: indianred;
    border: 2px solid black; */
}

i {
   font-size: 100px;
   color: rgb(62, 62, 255);
   margin: 15px;
}

.Name {
    font-weight: bold;
    font-size: 30px;
    margin: 15px;
    text-align: center;
    color: black;
}

.Text {
    font-size: 20px;
    margin: 15px;
    text-align: center;
    color: black;
}

/* Section "Text-image-grid" style */

.text-image-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.odd {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* width: 100%;
    height: 100%; */
    text-decoration: none;
}

.odd-text, .even-text {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.odd-picture {
    display: block;
    width: 100%;
    height: 100%;
}

.odd-picture img {
    width: 100%;
    height: 100%;
}

.even {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 100%;
    height: 100%; */
    text-decoration: none;
}

.even-picture {
    display: block;
    width: 100%;
    height: 100%;
}

.even-picture img {
    width: 100%;
    height: 100%;
}
/* Kad susilygintų nuotraukos */
.odd-picture, .even-picture, .odd-text, .even-text {
    width: 50%;
}

/* Section Testimonials style */

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-top: 51px; */
    padding: 100px 0;
    background: rgb(228, 225, 225);
}

.testimonials-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.testimonials-img1 {
    width: 160px;
    height: 160px;
    background-image: url("testimonials-1-min.jpg");
    background-size: cover;
    border-radius: 50%;
}

.testimonials-img2 {
    width: 160px;
    height: 160px;
    background-image: url("testimonials-2-min.jpg");
    background-size: cover;
    border-radius: 50%;
}

.testimonials-img3 {
    width: 160px;
    height: 160px;
    background-image: url("testimonials-3-min.jpg");
    background-size: cover;
    border-radius: 50%;
}

/* Section Hero small style */

.small {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0px;
    padding: 100px 0;
    background: pink;
    
}

.small:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    z-index: 1;
}

.small .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.small .content {
    position: relative;
    z-index: 1;
}

.hero-small .content h1 {
    color: #fff;
    font-size: 30px;
    text-align: center;

    text-align: center;
    max-width: 650px;
    width: 100%
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#email {
    width: 80%;
    margin-right: 5px;
    height: 30px;
    border-radius: 5px;
    border: 0px solid #fff;
    font-size: 16px;
}

.form .button {
    display: flex;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
    background-color: #027bfe;
    padding: 8px 12px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

/* Section footer style */

.footer {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    color: blue;
}

/* Sekciotn Footer style */

/* footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
} */

footer a {
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding-top: 20px;
}

.link {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: blue;
}

span {
    color: black;
    padding-right: 10px;
}

.end-text {
    font-size: 12px;
    padding-left: 28px;

}
.awesome {
    font-size: 30px;
    color: rgb(62, 62, 255);
    margin: 10px;

 }


/* Media-queries */

@media (max-width: 800px) {
    .hero {
        padding: 50px 0;
    }
    .icons-grid {
        flex-direction: column;
    }

    .odd, .even {
        flex-direction: column;
    }

    .odd-text, .even-text {
        padding-left: 5%;
        padding-right: 5%;
    }

    .testimonials-list {
        flex-direction: column;
    }

    form {
        flex-direction: column;
    }

    #email {
        margin-right: 0px;
    }

    .button {
        margin-top: 10px;
        width: 76%;
        text-align: center;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .end-text {
        padding-left: 105px;
    }

    .odd-picture, .even-picture, .odd-text, .even-text {
        width: 100%;
    }

}   

